/* 
COLORS

PRIMARY GREEN - #029640
PRIMARY GOLD - #fff501
PRIMARY RED - #b73838


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
}

h1 {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: 200;
  text-decoration: underline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: rgba(2, 150, 64, 0.9);
  position: fixed;
  width: 100%;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 140px;
  list-style-type: none;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-left: 140px;
  color: #fff501;
}

.navbar-link {
  margin-left: 34px;
}

.navbar-link,
.logo {
  text-decoration: none;
}

.navbar-list li a {
  color: #ffffff;
}

.navbar-link.active {
  text-decoration: underline;
  color: #fff501;
}

.logo:hover,
.navbar-link:hover {
  text-decoration: none;
  color: #b73838;
  transition: all 0.3s ease-in;
}

.header-img {
  width: 100%;
  height: 70vh;
}

em.fab,
em.fas {
  font-size: 2em;
}

.footer {
  font-weight: 500;
  position: relative;
  padding: 0px;
  margin: 0px;
  height: 80vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 128, 0, 0.9),
      rgba(0, 128, 0, 0.9)
    ),
    url('https://www.knust.edu.gh/sites/default/files/inline-images/aboutknustimg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.cta em {
  font-size: 20px;
}

.cta span {
  font-size: 18px;
}

.phone-number {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.email {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.email p {
  text-align: center;
  margin-bottom: 7px;
}

.email-form input,
.email-form button {
  border-radius: 2px;
  padding: 10px 20px;
  border: 1px solid #000000;
}

.email-form input {
  background-color: rgba(255, 255, 255, 0.5);
}

.email-form button em {
  font-size: 12.5px;
}

.email-form input:focus {
  outline: none;
}

.download {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.download p {
  text-align: center;
  margin-bottom: 15px;
}

.btn {
  padding: 10px 20px;
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 10px;
  text-decoration: none;
  text-transform: underline;
  text-align: center;
}

.btn:hover {
  background-color: #b73838;
  transition: all 0.2s ease-in;
}

.btn:focus {
  outline: none;
}

.download :nth-last-child(2) {
  margin-right: 20px;
}

.social-icons {
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
}

.social-icons a {
  color: #000000;
  margin-right: 24px;
}

.social-icons :nth-last-child(1) {
  margin-right: 0;
}

.social-icons a:hover {
  color: #b73838;
  transition: all 0.2s ease-in;
}

.copyright {
  text-transform: uppercase;
  color: #000000;
  font-family: 'Constantia', serif;
  font-size: 12px;
  position: absolute;
  top: 95%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
